<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/gallery.css">
</head>
<body>
  <h1></h1>
  <div class="gallery">
    <% images.forEach(img => { %>
      <div class="gallery-item">
        <img src="/images<%= img.filename %>" alt="<%= img.id%>" id="<%= img.id%>" width="500" height="1100" data-api-url="/image/<%= img.id %>"/>
        <p></p>
      </div>
    <% }) %>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const images = document.querySelectorAll('.gallery-item img');
      images.forEach(img => {
        img.addEventListener('click', () => {
          const apiUrl = img.getAttribute('data-api-url');
          window.location.href = apiUrl;
        });
      });
    });
    </script>
</body>
</html>
