<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Log in</title>
  <link rel="stylesheet" href="/styles/homepage.css">
</head>
<body>
  <div class="container">
    <div class="box">
      <form id="loginform" method="POST">     
        <h2 id="login">Log in to your account</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" maxlength="20" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" minlength="6" required>
        <button id="button" type="submit">Sign In</button>
        <div id="error-message" style="color: red; display: none;"></div>
        <button id="buttongallery" type="button" >Continue as guest </button>
      </form>
      <p id="register">Don't have an account?  <a href="/register"> Register</a></p>
    </div>
  </div>
  <script src="/image/DOM_homepage.js"></script>
</body>
</html>