<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/homepage.css">
</head>

<body>
    <div class="container">
        <div class="box">
            <form id="loginform">
              <h2 id="login"> Log in to your account </h2>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" maxlength="20"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" minlength="6">
                <button id="button" type="submit">Sign In</button>
                <div id="error-message" style="color: red; display: none;"></div>
            </form>
            <p id="register">Don't have an account?  <a href="/register"> Register</a></p>
        </div>
    </div>
</body>
</html>