body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(23, 21, 36);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.logout-button {
    pointer-events: auto;
    float: right;
    border-radius: 20px;
    cursor: pointer;
    height: 55px;
    width: 140px;
    background-color: black;
    color: #ffffff;
    opacity: 0.3;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 30px;
}

.gallery-item {
  overflow: hidden;
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: 1100; 
  max-height: 1100px; 
  border-radius: 22px;
  object-fit: cover;
  transition: transform 0.8s;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

.gallery-item p {
  margin: 5px 0;
}


@media (max-width: 1000px) {
  .logout-button {
    height: 40px;
    width: 100px;
    font-size: 18px;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery-item img {
    height: 300px;
  }
}

