body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(23, 21, 36);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}



.gallery-item {
  overflow: hidden;
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: auto;          
  max-height: 1100px; 
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.2s;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

.gallery-item p {
  margin: 5px 0;
}


@media (max-width: 800px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery-item img {
    height: 300px;
  }
}
