body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(23, 21, 36);
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: 70vh;
    width: 100%;
  
}

.box {
    display: flex;
    justify-content: center;     
    height: 100vh;   
    gap: 50px;
    max-width: 820px;
    border-radius: 25px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6);
    padding: 20px;
    height: 400px;
    width: 80%;
    
    color: #999ab3a8;
    font-size: 30px;
    font-family: sans-serif;
}

#username, #password {
    pointer-events: auto;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    width: 500px;
    height: 60px;
    resize: none;
    border: none;
    background-color: #999ab3a8;
    opacity: 0.3;
    color: rgb(14, 1, 29);
    font-size: 30px;
}

#button {
    pointer-events: auto;
    float: right;
    border-radius: 20px;
    cursor: pointer;
    border: 'none';
    height: 45px;
    width: 110px;
    background-color: black;
    color: #ffffff;
    opacity: 0.3; 
}

#login {
    font-size: 17px;
    margin-top: auto;
    justify-content: space-between;
    text-align: center;
}

.error-message {
  color: #cc0033;
  font-size: 13px;
  margin-top: 10px;
}



@media (max-width: 800px) {
    body {
        background-color: rgb(30, 27, 46);
    }
    .box {
        height: 220px;
        width: 80%;
        font-size: 18px;
    }
    #username, #password {
        width: 110%;
        height: 44px;
        font-size: 14px;
    }
    #register {
        font-size: 16px;
    }
    #button {
        height: 30px;
        width: 80px;
    }
    #login {
        font-size: 8px;
    }
    .error-message {
        font-size: 7px;
        margin-top: 3px;
    }
}