body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 5px;
  background-color: rgb(23, 21, 36);
  color: #fff;
  font-size: 18px;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.profile-card {
  flex: 1;
  min-width: 250px;
  padding: 25px;
  border-radius: 20px;
  background-color: rgb(30, 27, 46);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6);
}

.profile-card h2 {
  margin: 10px 0;
  color: #999ab3a8;
  font-size: 32px; 
}

.profile-card p {
  margin: 8px 0;
  color: rgb(76, 68, 114);
  font-size: 27px;
}

.gallery-button {
  pointer-events: auto;
  border-radius: 20px;
  cursor: pointer;
  height: 60px;
  width: 160px;
  background-color: black;
  color: #ffffff;
  font-size: 20px;
  margin-top: 15px;
  opacity: 0.5;
}

.captions-list {
  flex: 2;
  min-width: 300px;
  padding: 25px;
  border-radius: 25px;
  background-color: rgb(30, 27, 46);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6);
  max-height: 300px;
  overflow-y: auto;
}

.text-container::-webkit-scrollbar {
  display: none;
}

.text-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.captions-list h3 {
  color: #999ab3a8;
  font-size: 28px;
}

.captions-list li {
  color: rgb(76, 68, 114);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  font-size: 22px;
}

@media (max-width: 1000px) {
  .profile-container {
    flex-direction: column;
  }
  .gallery-button {
    width: 140px;
    height: 50px;
    font-size: 20px;
  }

  #nickname-modal {
    width: 83% !important;
    height: 28% !important; 
    padding: 17px; 
  }

}

@media (max-width: 600px) {
  .form-message {
  font-size: 15px !important;
  }

  #nickname-modal {
    width: 80% !important;
    height: 22% !important; 
    padding: 15px; 
  }

  .modal-field {
    width: 80%;
    height: 20px!important;
    font-size: 10px;
  }

  #nickname-form button[type="submit"],
  #nickname-form button[type="button"] {
    padding: 6px 10px;
    font-size: 12px;
  }

  .gallery-button {
    width: 120px;
    height: 45px;
    font-size: 18px;
  }

  .profile-card h2 {
    font-size: 28px;
  }
  .profile-card p {
    font-size: 20px;
  }
  .captions-list h3 {
    font-size: 24px;
  }
  .captions-list li {
    font-size: 20px;
  }
  .logout-button {
    height: 40px;
    width: 100px;
    font-size: 16px;
    bottom: 10px;
    left: 10px;
  }
}

.top-buttons {
  max-width: 1200px;
  margin: 0 auto 10px auto;
  display: flex;
  justify-content: flex-start;
}

.logout-wrapper {
  display: block;
  width: 100%;
  text-align: end;  
  margin-top: 20px;
}

.logout-button {
  border-radius: 20px;
  background-color: black;
  color: #fff;
  opacity: 0.5;
  font-size: 20px;
  height: 55px;
  width: 140px;
  cursor: pointer;
}

#nickname-modal {
  width: 40%;
  min-width: 200px;
  max-width: 700px;
  height: 20%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(23, 21, 36);
  font-family: Arial, sans-serif;
  border-radius: 25px;
  box-shadow: 0 2px 20px rgba(0,0,0,0.6);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#nickname-modal.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.03);
  pointer-events: auto;
}

#modalContent {
  width: 80%;
}

#nickname-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modal-field {
  width: 80%;
  height: 40px;
  padding: 12px;
  border: 1px solid rgb(76,68,114);
  border-radius: 12px;
  background-color: #999ab3a8;
  outline: none;
  color: rgb(49, 43, 80);
  font-size: 20px;
  font-family: Georgia, serif;
  text-align: center;
}

#nickname-form button {
  padding: 8px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 8px;
}

#nickname-form button[type="submit"] {
  background-color: rgb(76,68,114);
  color: #ffffff;
}

#nickname-form button[type="submit"]:hover {
  background-color: rgb(100,90,150);
}

#nickname-form button[type="button"] {
  background-color: rgb(50,45,80);
  color: #fff;
}

#nickname-form button[type="button"]:hover {
  background-color: rgb(70,60,110);
}

#close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}

#modalBackdrop {
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 500;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#modalBackdrop.show {
  display: block;
  opacity: 1;
}

.modal-field::placeholder {
  color: #130229;
}

#success-form-message{
  margin-top: 25px;
}

.form-message {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}
